################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Githubtest/v16
/.vs
/ConsoleApp1GitHubtest/ConsoleApp1GitHubtest/bin/Debug/netcoreapp3.1
/ConsoleApp1GitHubtest/ConsoleApp1GitHubtest/obj/Debug/netcoreapp3.1
/ConsoleApp1GitHubtest/ConsoleApp1GitHubtest/obj
/ConsoleApp1GitHubtest/.vs/ConsoleApp1GitHubtest/v16
